@import "colors/blue-grey";
@import "colors/orange";
@import "colors/amber";
@import "colors/teal";
@import "colors/grey";
@import "colors/green";
@import "colors/brown";
@import "colors/bw";

@import "ionic/ionicons-variables";

@import "base";

@mixin grey_block {
	padding: 15px;
	border-radius: 5px;
	background: rgba(0,0,0,0.85);
}

@font-face {
	font-family: Roboto; /* Имя шрифта */
	src: url(../fonts/Roboto/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face { 
	font-family: Ionicons; 
	src: url("../fonts/ionicons.ttf"); 
	font-weight: normal;
	font-style: normal; 
}

.main-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	background: rgba(0,0,0,0.85);
	font-size: 18px;
	ul {
		padding: 50px 0px 0px 0px;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 10px 0px 10px 20px;
		transition: 0.2s;
		color: $white;
	}
	li {
		&:hover {
			a {
				color: $teal-A100;
				background: $grey-900;
			}
		}
	}
}


.nav-top {
	position: fixed;
	top: 0px;
	left: 200px;
	height: 50px;
	width: 100%;
	z-index: 900;
	background: rgba(0,0,0,0.85);
}

.nav-top__item {
	height: 100%;
	width: 200px;
	padding: 14px 0px 14px 0px;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	transition: 0.2s;
	&:hover {
		color: $teal-A100;
		background: $grey-800;
	}
}

.float-item {
	float: left;
}

.main-content {
	position: relative;
	margin-left: 200px;
	margin-top: 50px;
	padding: 15px 15px 15px 15px;
}

.start-button__caption:after, .stop-button__caption:after {
	font-family: 'Ionicons';
	margin-left: 10px;
	color: $teal-100;
}

.start-button__caption:after {
	content: $ionicon-var-ios-play;
}

.stop-button__caption:after {
	content: $ionicon-var-stop;
}

.data-table {
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	background: rgba(0,0,0,0.8);
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 10px 10px 20px;
	border-radius: 3px;
	color: $white;
	th {
		border-bottom: 2px solid $white;
		margin-bottom: 30px;
	}
	td {
		border-bottom: 1px dotted $grey-700;
		padding: 5px 0px 5px 0px;
	}
}

.number-column {
	width: 30px;
	text-align: left;
}

.index-column {
	width: 180px;
	text-align: left;
}

.cycle-column {
	width: 30px;
	text-align: left;
}

.data-column {
	text-align: center;
}


.left-content {
	float: left;
	width: 60%;
}

.right-content {
	float: right;
	width: 35%;
	margin-right: 40px;
}

.app-monitor {
	height: 200px;
	margin-top: 15px;
	padding: 15px;
	@include grey_block();
}

.app-monitor__caption {
	padding: 18px 20px 10px 0px;
	border-bottom: 2px solid $white;
	color: $white;
}

.app-monitor__list {
	font-size: 12px;
	ul {
		height: 100px;
		overflow: hidden;
		overflow-y: scroll;
	}
	li {
		padding: 3px 10px 3px 0px;
	}
}

.right-content__commands {
	font-size: 12px;
	@include grey_block();
}

.commands-list {
	height: 548px;
	overflow: hidden;
	overflow-y: scroll;
}

.right-content {
	li {
		padding: 3px 0px 3px 0px;
		cursor: pointer;
		border-bottom: 1px dotted $grey-700;
		transition: 0.2s;
		&:hover {
			background: $grey-800;
			color: $teal-100;
		}
	}
	.command-button-wrapper {
		text-align: center;
		@include grey_block;
		padding-bottom: 50px;
		border-radius: 3px;
	}
	button {
		width: 60%;
		transition: 0.2s;
		color: $white;
		border-radius: 3px;
		background: $teal-400;
		height: 50px;
		&:hover {
			background: $teal-700;
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	}
}

.current-command {
	border: 2px solid $white;
	@include grey_block;
	height: 50px;
	font-size: 12px;
	padding: 16px 10px 10px 10px;
}

.noCommand {
	color: $grey-500;
}

.status {
	float: right;
}

.success {
	color: $green-200;
}

.app-monitor__message-type {
	color: $teal-100;
}

.nav-top__status {
	width: 200px;
	padding: 13px 0px 13px 0px;
	text-align: center;
	font-weight: 700;
	color: red;
	border: 3px solid red;
}

.main-menu__telemetry {
	&:after {
		font-family: 'Ionicons';
		content: $ionicon-var-arrow-graph-up-right;
		float: left;
		margin-right: 10px;
		margin-top: -3px;
		font-size: 24px;
	}
}

.main-menu__commands {
	&:before {
		font-family: 'Ionicons';
		content: $ionicon-var-share;
		float: left;
		margin-right: 10px;
		margin-top: -3px;
		font-size: 24px;
	}
}

.main-menu__settings {
	&:after {
		font-family: 'Ionicons';
		content: $ionicon-var-gear-a;
		float: left;
		margin-right: 10px;
		margin-top: -3px;
		font-size: 24px;
	}
}