<html>
    <head>
    <title>BUS CONTROL</title>
    {% block css %}
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://unpkg.com/vue-material@latest/dist/vue-material.css" rel="stylesheet">
	<link href="static/css/project.min.css" rel="stylesheet">
    {% endblock %}
    </head>
    <body>
    </body>
    <script src="/static/js/common.js"></script>
	<script src="/static/js/project.js"></script>
</html>