<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <title>Retain</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/global.css" type="text/css">
    <link rel="stylesheet" href="static/css/project.css" type="text/css">
    <script src="/static/js/Chart.bundle.min.js" defer></script>
    <base href="/">
</head>
<body>
    <app>Loading...</app>

    <script src="static/js/polyfill.js" defer></script>
    <script src="static/js/vendor.js" defer></script>
    <script src="static/js/app.js" defer></script>
</body>
</html>
